* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: black;
  color: #fff;
}

.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/pexels-zachtheshoota-1769553.jpg);
  background-size: cover;
  background-position: center;
}
.nav {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 135px;
  cursor: pointer;
}
.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.nav ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #67c3b3;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.nav ul li:hover:after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-size: 45px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
p {
  margin: 15px;
}
.spacer {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(229, 140, 72);
  color: white;
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
    padding: 35px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav ul {
    width: 100%;
    flex-direction: column;
  }
  .nav ul li {
    display: none;
    text-align: center;
    width: 100%;
  }
  .nav ul li a {
    padding: 0.5rem 1rem;
  }

  .nav ul .active {
    display: flex;
  }
}
